[Unit]
Description=Microservice work day or not

[Service]
WorkingDirectory=/root/golang/work-calend
ExecStart=/root/golang/work-calend/work-calend
IgnoreSIGPIPE=false
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
